.mynavlink:link,
.mynavlink:visited ,
.mynavlink:hover, 
.mynavlink:active {
		text-decoration: none !important;

		color: navy;
}

html {
  height: 100%;
}

body {
  height: calc(100vh - 50px);
}

/* svg { */
  /* background: #FFF; */
  /* display: block; */
/* } */

.bar, .legend-item {
  opacity: 1;
  transition-delay: 0.5s;
  transition: opacity .1s ease-in-out;
}

.bar.subdued, circle.subdued {
  opacity: 0.2;
}

.bar:hover {
  cursor: pointer;
}

.bar-label {
  display: none;
}

.bar-label.net {
  fill: #000;
  display: none;
}

.bar-label.selected {
  display: initial;
}

.bar.selected {
  opacity: 1;
}

/* circle.selected { */
 /* opacity: 1; */
/* } */

/* circle { */
  /* pointer-events: none; */
  /* opacity: 1; */
  /* fill: #FFF; */
  /* stroke: #000; */
  /* stroke-width: 1; */
/* } */

.trendline {
  pointer-events: none;
  display: none;
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 2px;
  stroke-dasharray: 11 6;
}

.trendline.selected {
  display: initial;
}

text.in { fill: rgba(70, 180, 129, 1); }
text.out { fill: rgba(218, 89, 89, 1); }

span.in { color: rgba(70, 180, 129, 1); }
span.out { color: rgba(218, 89, 89, 1); }

/*.in-selected { fill: #46b481; }
.out-selected { fill: #da5959; }*/

.center-axis {
  stroke: #6b6b6d;
  stroke-width: 1;
}

.hundredk-axis {
  stroke: #cacaca;
  stroke-width: 0.5;
  font-size: 10px;
}

.main {
  margin-top: 70px;
  margin-left: 5px;
}

.chart-container {
  padding: 0 15px;
}

/*Since bootstrap can't do 20% wide columns, use this class that mimics col-XX-xx for the year labels*/
.year-label {
  text-align: center;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  float:left;
  font-size: 25px;
  color: #848484;
  font-weight: 400;
}

.year-label:not(:last-child) {
  border-right: 1px solid #9e9595;
}

.year-label-row {
  left: 15px;
  right: 15px;
  line-height: 48px;
}

@media (max-width:920px) {
  .year-label {
    font-size: 16px;
  }
}



#cohort-label {
  position: absolute;
  font-size: 36px;
  color: #898989;
  font-weight: 200;
  padding: 10px 0;
}

.meta p {
  font-size: 12px;
}

p.header-label {
  color: #d96b27;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 8px;
  margin: 10px 0;
  margin-bottom: -8px;
  letter-spacing: 1.2px;
}

.no-data {
  fill: #848484;
}

/*Legends*/

.legend-color-box {
  height: 10px;
  width: 10px;
  float: left;
  margin-right: 10px;
}

.legend-items {
  margin: 12px 0 10px 0;
}

.legend-item {
  margin-top: 0;
  margin-bottom: 4px;
}

.legend-item.subdued {
  opacity: 0.2;
}

.legend-item.selected {
  font-weight: 600;
}


.legend-text {
  line-height: 12px;
}

/*End Legends*/

/*Common DCP Navbar*/
.navbar-collapse.collapsing, .navbar-collapse.in, .navbar-default {
  /* background-color: hsla(0,0%,100%,.94); */
  background-color: #EAEAEA;
}

.navbar-default .navbar-brand {
  background-image: url('http://www1.nyc.gov/assets/buildings/images/content/header/logo.png');
  background-repeat: no-repeat;
  background-position: 16px -6px;
  background-size: 70px;
  height: 50px;
  width: 100px;
  padding: 0;
}

.navbar-fixed-top .navbar-brand2 {
  background-image: url('http://a810-dobnow.nyc.gov/Publish/images/dob_now_build.jpg');
  background-repeat: no-repeat;
  background-position: center;
  float: right;
  background-size: 50px;
  height: 50px;
  width: 100px;
	
}
.navbar-title {
  float: left;
  color: #44A8DE;
  font-size: 30px;
  line-height: 50px;
  font-weight: bold;
}

.navbar-title .title {
  color: #002379;
  font-weight: 300;
}

.dropdown-menu>li>a, .navbar-default .navbar-nav>li>a {
    padding: 15px 18px;
    color: #db691b;
    font-size: 16px;
    font-weight: 300;
}

nav {
  font-family: Oswald,sans-serif;
}

ul.navbar-right {
    margin-right: 0;
}

.navbar-default .navbar-nav>li:hover {
    background: #eee;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
    color: #af4c0f;
    cursor: pointer;
}

.btn-group .char-select> button{
	background: #002C78;
	border-radius: 0;
	border-color: #ffffff;
}

.char-display-name {
	margin-left: 150px;
}
/*End Common DCP Navbar*/

/*Common DCP Footer*/
.footer {
  background: #ececec;
  padding-top: 20px;
  padding-bottom: 56px;
  font-size: 14px;
  font-weight: 400;
}

.footer .copyright {
  font-size: 11px;
  margin-bottom: 0;
}
/*End Common DCP Footer*/

/*Common DCP Modal*/
.modal-header {
  background: #ececec;
  font-family: Oswald,sans-serif;
  color: #d96b27;
}

.modal-footer {
  background: #ececec;
}

/*End Common DCP Modal*/

/*Milestone Page*/
.heading {
	font-size: 32px;
	font-weight: bold;
	color: #46A7DD;	

}
.overview {
	font-size: 14px;
	font-weight: normal;
	color: blue;
	padding-top: 10px;
}
.chart-stage {
	width: 100%;
}
.links {
	float: right;
	margin: 0px;
}

a:link {
    text-decoration: none;
	color: blue;
}

/* a:visited { */
    /* text-decoration: none; */
	/* color: gray; */
/* } */

a:hover {
    text-decoration: underline;
	color: blue;
}

a:active {
    text-decoration: underline;
	color: blue;
}
.heading_milestones {
	font-size: 26px;
	font-weight: bold;
	color: rgb(100,100,100);	
	padding-left: 20px;
	padding-top: 20px;

}
.navbar-brand-subheading {
	font-size: 20px;
	font-weight: bold;
	font-style: italic;
	color: #002878;

}
body {
	background-color: white;
}


#chart-01{
    box-sizing: border-box;
    width: 100%;
	height: 460px;
	background-color: white;
}
#chart-02{
    box-sizing: border-box;
    width: 100%;
	height: 100%;
	background-color: white;
}
#chart-03{
    box-sizing: border-box;
    width: 100%;
	height: 100%;
	background-color: white;
}
#summary1{
	font-size: 30px;
	font-weight: bold;	
	text-align: center;	
}
#summary1txt{
	font-size: 30px;
	font-weight: bold;
	color: black;
	text-align: left;
	padding-top: 10px;
}
#summary2{
	font-size: 24px;
	font-weight: bold;
	text-align: center;	
}
#summary2txt{
	font-size: 24px;
	font-weight: bold;
	color: black;
	text-align: left;
}
#summary3{
	font-size: 18px;	
	text-align: center;
	line-height: 110%;
}
#summary3txt{
	font-size: 18px;
	text-align: left;
	line-height: 110%;
}
#summary4{
	font-size: 18px;
	text-align: center;
	line-height: 110%;
}
#summary4txt{
	font-size: 18px;	
	text-align: left;
	line-height: 110%;
	padding-top: 8px;
}
#summary5{
	font-size: 18px;
	text-align: center;
	line-height: 110%;
}
#summary5txt{
	font-size: 18px;
	text-align: left;
	line-height: 110%;
	padding-top: 8px;
}
#summary6{
	font-size: 18px;	
	text-align: center;
	line-height: 110%;
}
#summary6txt{
	font-size: 18px;
	text-align: left;
	line-height: 110%;
	padding-top: 8px;
}
#summary7{
	font-size: 18px;	
	text-align: center;
	line-height: 110%;
}
#summary7txt{
	font-size: 18px;
	text-align: left;
	line-height: 110%;
	padding-top: 8px;
}
#summary8{
	font-size: 13px;
	font-style: italic;
	text-align: center;
	line-height: 110%;
}
#summary8txt{
	font-size: 18px;
	text-align: left;
	line-height: 110%;
	padding-top: 8px;
}
#summary9{
	font-size: 32px;
	font-weight: bold;
	font-style: italic;
	color: #46A7DD;	
}
#summary11{
	font-size: 18px;
	text-align: center;
	line-height: 110%;
}
#summary11txt{
	font-size: 18px;
	text-align: left;
	line-height: 110%;
	padding-top: 8px;
}
#summary12{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
}
#summary12txt{
	font-size: 18px;
	font-weight: bold;
	color: black;
	text-align: left;
	padding-top: 10px;
}
#summary13{
	font-size: 18px;
	text-align: center;
	line-height: 110%;
}
#summary13txt{
	font-size: 18px;
	text-align: left;
	line-height: 110%;
	padding-top: 8px;
}
#summary14{
	font-size: 18px;
	color: #FF0000;
	text-align: center;
	line-height: 110%;
}
#summary14txt{
	font-size: 18px;
	color: #FF0000;
	text-align: left;
	line-height: 110%;
	padding-top: 8px;
}
#summary15{
	font-size: 12px;
	font-style: italic;
	color: #FF0000;
	text-align: left;
	line-height: 95%;
	position: absolute;
	bottom: 5px;
	left: 5px;
}
#summary15txt{
	font-size: 18px;
	color: #FF0000;
	text-align: left;
	line-height: 95%;
}

#cyclo_txt{
	font-size: 12px;
	font-style: italic;
}
.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(230,230,230);  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(240,240,240);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
  color: rgb(150,150,150);
}

.li.complete .flag {
  position: relative;
  display: inline;
  background: rgb(152,230,0);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 800;
  text-align: left;
  color: rgb(15,15,15);
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -39px;
  content: ' ';
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(230,230,230);
  z-index: 10;
}

.direction-r .flag:before {
  left: -39px;
}

.li.complete .direction-l .flag:before,
.li.complete .direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -39px;
  content: ' ';
  display: block;
  width: 18px;
  height: 18px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(152,230,0);
  z-index: 10;
}

.li.complete .direction-r .flag:before {
  left: -39px;
}

.li.complete .date {
	font-weight: 1000;
	color: rgb(168,0,0);
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(240,240,240);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(240,240,240);
  border-width: 8px;
  pointer-events: none;
}

.li.complete .direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(152,230,0);
  border-width: 8px;
  pointer-events: none;
}

.li.complete .direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(152,230,0);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}
/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(255,255,255);
	z-index: 15;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}

.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: rgb(245,245,245);
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
	
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
	margin: 1em 4em 0 4em;
}

}
/*End of Milestone Page*/
